<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/userstable.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>Seller Name</th>
        <th>Shop No.</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>Pincode</th>
        <th>Mobile No.</th>
      </tr>
      <% table.forEach(function(user){%>
      <tr>
        <td><%=user.s_name%></td>
        <td><%=user.s_shopno%></td>
        <td><%=user.s_add1%></td>
        <td><%=user.s_add2%></td>
        <td><%=user.s_city%></td>
        <td><%=user.s_pincode%></td>
        <td><%=user.s_mobile_no%></td>
      </tr>
      <%})%>
    </table>
  </body>
</html>
